Is it possible to select a printer's media tray?

I am trying to send a print job to a certain tray.

I have checked the printer attributes that the trays are available:
```
media-source-supported: tray-1
media-source-supported: tray-2
media-source-supported: tray-3
media-source-supported: tray-4
media-source-supported: tray-5
``` 


And have found the Media parameter in the NewJobAttributes class, I have tried setting this to 'tray-4' and '"media-source": "tray-4"' with no succes.

In the AdditionalJobAttributes I've also tried setting the Tag 'Keyword' to name=media-source and value=tray-4 but this does not seem to work either.


```c#
var attributes = new NewJobAttributes
{

    JobName = documentPath,
    AdditionalJobAttributes = new IppAttribute[]
        {
            new IppAttribute(Tag.Keyword, "media-source", "tray-4")
        },
    Media = " \"media-source\": \"tray-4\" " // also tried just "tray-4"

};
var request = new PrintJobRequest
{
    PrinterUri = printerUri,
    Document = stream,
    RequestingUserName = Username,
    NewJobAttributes = attributes
};

using var client = new SharpIppClient();
var response = await client.PrintJobAsync(request);


I have found this issue about monochrome printing: https://github.com/Zelenov/SharpIpp/issues/23
Which describes the same problem, I also tried to print in monochrome but also with no success. But unlike the other issue I cannot seem to get the attributes printed in the PageLog.

It's a bit tricky since media-source is a member of media-col. To get this working I had to comment out this line, since it removes duplicate attributes by name, but we need multiple attributes with an empty name:
https://github.com/danielklecha/SharpIppNext/blob/master/SharpIpp/Protocol/Extensions/ListExtensions.cs#L18 

```csharp
AdditionalJobAttributes = [
    new IppAttribute(Tag.BegCollection, "media-col", ""),
    new IppAttribute(Tag.MemberAttrName, "", "media-source"),
    new IppAttribute(Tag.Keyword, "", "tray-4"),
    new IppAttribute(Tag.EndCollection, "", "")
]
```

@Purrloin4 I fixed the Populate method in version 1.0.12 so it shouldn't remove attributes with the same name if the name is empty. Please try @xqrzd solution.

I modified the code to correctly support BagCollection.
I added `media-col-default` to printer attributes.
I need to analyze documentation and add `media-source` everywhere where needed.
Unfortunately, `ipptool -t -V 2.0 ipp://172.17.16.1 ipp-2.0.test` doesn't check these attributes in job requests.

@danielklecha @xqrzd Many thanks, I'll try it today!

This would also allow me to choose the printer color in the same way?

One thing not super clear to me is where I can find what member attribute is linked to what collection attribute. But I might be searching in the wrong documentation of the ipp standard.

@Purrloin4 This page contains a list of IPP attributes with links to documentation.
https://www.iana.org/assignments/ipp-registrations/ipp-registrations.xhtml
For example: if you search for `media-col` then you can open PWG5100.7 and section 5.3.1 contains a list of members.

`print-color-mode` is not a member of `media-col`. I'm not sure why example from issue doesn't work.
I need to figure out how to test it with some external tool.

I think that BegCollection and EndCollection should contain NoValue but probably empty string will generate similar result.
```
AdditionalJobAttributes = [
    new IppAttribute(Tag.BegCollection, "media-col", NoValue.Instance),
    new IppAttribute(Tag.MemberAttrName, "", "media-source"),
    new IppAttribute(Tag.Keyword, "", "tray-4"),
    new IppAttribute(Tag.EndCollection, "", NoValue.Instance)
]
```

@danielklecha @xqrzd 
I've been trying to get the trays and type to work but without succes.

Could you attach your code that you used to get it working? I tried this:
[testcodeAttributes.txt](https://github.com/user-attachments/files/17227124/testcodeAttributes.txt)

If i check the error logs of CUPS with Debug2 the only thing about attributes that are present are the document attributes, nut sure where i can see more details about the jobs.
```
D [02/Oct/2024:11:08:57 +0200] [Client 249] Read: status=100, state=6
D [02/Oct/2024:11:08:57 +0200] [Client 249] 2.0 Get-Printer-Attributes 179
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest(0x56536b3016c0[249]): operation_id=000b(Get-Printer-Attributes)
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest: operation-attributes-tag
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest: attributes-charset charset 'utf-8'
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest: attributes-natural-language naturalLanguage 'en-us'
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest: printer-uri uri 'ipp://localhost/printers/XEROXSEC'
d [02/Oct/2024:11:08:57 +0200] cupsdProcessIPPRequest: requested-attributes 1setOf keyword 'member-uris,printer-uri-supported'
D [02/Oct/2024:11:08:57 +0200] Get-Printer-Attributes ipp://localhost/printers/XEROXSEC
d [02/Oct/2024:11:08:57 +0200] get_printer_attrs(0x56536b3016c0[249], ipp://localhost/printers/XEROXSEC)
d [02/Oct/2024:11:08:57 +0200] cupsdFindPolicyOp(p=0x56536b1b8390, op=b(Get-Printer-Attributes))
d [02/Oct/2024:11:08:57 +0200] cupsdFindPolicyOp: Found wildcard match...
d [02/Oct/2024:11:08:57 +0200] cupsdIsAuthorized: con->uri="/printers/XEROXSEC", con->best=0x56536b1bc910((null))
d [02/Oct/2024:11:08:57 +0200] cupsdIsAuthorized: level=CUPSD_AUTH_ANON, type=None, satisfy=CUPSD_AUTH_SATISFY_ALL, num_names=0
d [02/Oct/2024:11:08:57 +0200] cupsdIsAuthorized: op=0(0x0000)
d [02/Oct/2024:11:08:57 +0200] cupsdIsAuthorized: auth=CUPSD_AUTH_ALLOW...
d [02/Oct/2024:11:08:57 +0200] printer-uri-supported="ipp://srvapiinternal01.local:631/printers/XEROXSEC"
d [02/Oct/2024:11:08:57 +0200] copy_attrs(to=0x56536b2f0f60, from=0x56536b2ba8e0, ra=0x56536b2f6340, group=0, quickcopy=0)
d [02/Oct/2024:11:08:57 +0200] copy_attrs(to=0x56536b2f0f60, from=0x56536b2bbe10, ra=0x56536b2f6340, group=0, quickcopy=0)
d [02/Oct/2024:11:08:57 +0200] copy_attrs(to=0x56536b2f0f60, from=0x56536b1d6df0, ra=0x56536b2f6340, group=0, quickcopy=-2147483648)
D [02/Oct/2024:11:08:57 +0200] [Client 249] Returning IPP successful-ok for Get-Printer-Attributes (ipp://localhost/printers/XEROXSEC)
``` 

I realized that it's a different section...
Job Template Attributes are described in RFC2911 section 4.2.
Document Template Attributes are described in PWG5100.5 section 6.3 and it's an extension for IPP 1.1.
`media-col` is part of document-attributes-tag section, not job-attributes-tag section.
`print-color-mode` is part of Job Template attribute (PWG5100.13 section 6.2.3) and should work...

Library do not have document section and it require some modifications to support it.

@danielklecha I found out that for some reason the attributes only work when using the NewJobAttributes, and not the AdditionalJobAttributes property directly (which I was doing). So, if I do it like this it works!
```c#
var attributes = new NewJobAttributes
{
    //Media = "iso_a3_297x420mm",
    Media = "iso_a4_210x297mm",
    AdditionalJobAttributes = [
        /*new IppAttribute(Tag.BegCollection, "media-col", NoValue.Instance),
        new IppAttribute(Tag.MemberAttrName, "", "media-source"),
        new IppAttribute(Tag.Keyword, "", "tray-2"), // auto, tray-1, tray-2, ...
        new IppAttribute(Tag.EndCollection, "", NoValue.Instance),*/
    
        new IppAttribute(Tag.BegCollection, "media-col", ""),
        new IppAttribute(Tag.MemberAttrName, "", "media-type"),
        new IppAttribute(Tag.Keyword, "", "stationery"), // auto, stationery, envelope, stationery-letterhead, ...
        new IppAttribute(Tag.EndCollection, "", ""),
    
        new IppAttribute(Tag.Keyword, "print-color-mode", "monochrome") // color, monochrome
    ]
};

var request = new PrintJobRequest
{
    PrinterUri = printerUri,
    Document = stream,
    RequestingUserName = Username,
    DocumentAttributes = new DocumentAttributes
    {
        DocumentName = documentPath,
        DocumentFormat = "application/pdf",
        Compression = Compression.None,
        DocumentNaturalLanguage = "en"
    },
    NewJobAttributes = attributes
};
``` 

This might be a bug in the library or was I not using it in the intended way? Either way my issue is solved so thanks!